

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    display: flex;
 
}

.loc {
    display: flex;
    align-items: center;
    padding: 20px 12px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 20px; /* Added margin-right to space out from the next element */
}

.sl {
    display: flex;
    align-items: center;
}

.sl label {
    margin-right: 5px;
}

.select-location {
    padding: 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    background-color: #f9f9f9;
  }
  
  /* SVG Icon */
  .search-box svg {
    fill: #333;
    margin-right: 8px;
  }
  
  /* Input Field */
  .search-box input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  /* Search Button */
  .search-box .search-button {
    
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
  }
  